// =============================================================================
// Base16 ChaniVibes (light variant)
// =============================================================================
// Pre-adapted from ChaniVibes (PaperVibes/ChaniYottaVibes) & Hanaka for Base16 Theme
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// -----------------------------------------------------------------------------
$base00: #E8E2DA;
$base01: #BCB1A3;
$base02: #8F877C;
$base03: #69635B;
$base04: #4A453F;
$base05: #312D29;
$base06: #1F1C19;
$base07: #151311;
$base08: #E2270E;
$base09: #F48D00;
$base0A: #E9BB01;
$base0B: #8DB406;
$base0C: #08B16B;
$base0D: #067CC6;
$base0E: #E63766;
$base0F: #F4855C;
// -----------------------------------------------------------------------------